html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  font-size: 62.5%;
}

@media (min-width: 768px) {
  .main {
    padding: 40px 5% 72px 5%;
  }
  .navbar {
    margin-bottom: 50px;
  }
  .navbar .navbar__logo svg {
    width: 236px;
    height: 26px;
  }
  .navbar .menu-button {
    display: none;
  }
  .navbar .navbar-big {
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: nowrap;
    color: #83888F;
    text-align: center;
    font-family: "Barlow";
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    width: 350px;
  }
  .footer .footer__logo {
    margin-bottom: 32px;
  }
  .footer .links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: nowrap;
    width: 280px;
  }
  .footer .links .links__item {
    margin-bottom: 65px;
  }
  .footer .social {
    width: 20%;
  }
}
@media (min-width: 768px) {
  .navbar {
    height: 28px;
  }
  .aboutus {
    margin-bottom: 144px;
  }
  .aboutus__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    z-index: 2;
    margin-left: 58px;
  }
  .aboutus__title {
    color: #FEFCF7;
    text-align: left;
    font-family: "Fraunces";
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 900;
    line-height: 40px;
    margin-top: 118px;
  }
  .aboutus__description {
    text-align: justify;
    width: 68%;
  }
  .commitment {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 330px;
  }
  .commitment__image {
    margin-right: 60px;
    height: 450px;
    width: 280px;
    margin-bottom: 0;
  }
  .commitment__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
  }
  .commitment__title {
    text-align: left;
  }
  .commitment__description {
    text-align: left;
  }
  .quality {
    margin-bottom: 145px;
  }
  .quality__image {
    top: -160px;
  }
  .quality__info {
    margin-top: -80px;
  }
  .quality__description {
    margin-bottom: 70px;
  }
  .headquarters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin-bottom: 144px;
  }
  .headquarters__locations {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 90%;
  }
  .headquarters__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin-bottom: 0;
  }
  .item__title {
    font-size: 2.4rem;
  }
  .item__location {
    text-align: left;
  }
}/*# sourceMappingURL=aboutus-tablet.css.map */