html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  font-size: 62.5%;
}

@media (min-width: 1440px) {
  a:visited, a:active, a:link, a:hover {
    color: #83888F;
    text-decoration: none;
  }
  .main {
    padding: 50px 5.5% 88px 5.5%;
  }
  .navbar {
    margin-bottom: 50px;
  }
  .navbar .navbar__logo svg {
    width: 236px;
    height: 26px;
  }
  .navbar .menu-button {
    display: none;
  }
  .navbar .navbar-big {
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    color: #83888F;
    text-align: center;
    font-family: "Barlow";
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    width: 260px;
  }
  .navbar .navbar-big p:hover {
    color: #333D4B;
    cursor: pointer;
  }
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
  .footer .footer__logo {
    margin-bottom: 47px;
    margin-left: 85px;
  }
  .footer .links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 300px;
  }
  .footer .links .footer-link {
    margin-bottom: 0;
  }
  .footer .links .links__item {
    margin-bottom: 0px;
  }
  .footer .social {
    width: 20%;
    margin-right: 85px;
    margin-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .aboutus {
    margin-bottom: 137px;
    border-radius: 10px;
  }
  .aboutus__image2 {
    display: none;
  }
  .aboutus__image3 {
    border-radius: 10px;
    width: 100%;
    height: 450px;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    z-index: 1;
    display: block;
  }
  .aboutus__title {
    color: #FEFCF7;
    text-align: left;
    font-family: "Fraunces";
    font-size: 4rem;
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
    margin-top: 115px;
  }
  .aboutus__description {
    text-align: justify;
    width: 33%;
  }
  .commitment {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 250px;
  }
  .commitment__image {
    margin-right: 125px;
    height: 480px;
    width: 430px;
  }
  .commitment__title {
    color: #333D4B;
    text-align: center;
    font-family: "Fraunces";
    font-size: 4rem;
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
    margin-bottom: 32px;
  }
  .commitment__description {
    color: #333D4B;
    text-align: left;
    font-family: "Barlow";
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
  }
  .quality {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 170px;
    padding-left: 5%;
    padding-right: 5%;
  }
  .quality__image2 {
    display: none;
  }
  .quality__image3 {
    display: block;
    top: -80px;
    position: relative;
    border-radius: 10px;
  }
  .quality__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin-right: 10%;
    margin-top: 30px;
    width: 45%;
  }
  .quality__title {
    color: #FEFCF7;
    text-align: left;
    font-family: "Fraunces";
    font-size: 4rem;
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
    margin-bottom: 32px;
  }
  .quality__description {
    color: #FEFCF7;
    text-align: left;
    font-family: "Barlow";
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.8;
  }
  .headquarters {
    margin-bottom: 170px;
    margin-left: 7%;
  }
  .headquarters__locations {
    width: 80%;
  }
}/*# sourceMappingURL=aboutus-desktop.css.map */