html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  font-size: 62.5%;
}

a:visited, a:active, a:link, a:hover {
  color: #83888F;
  text-decoration: none;
}

.main {
  padding: 32px 6.5% 72px 6.5%;
  margin: 0 auto;
  background-color: #FEFCF7;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 40px;
}
.navbar .menu-button {
  width: 18px;
  height: auto;
  fill: #333D4B;
}
.navbar .menu-button--inactive {
  display: none;
}
.navbar .close-button--inactive {
  display: none;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.modal--inactive {
  display: none;
}

.modal--active {
  position: absolute;
  z-index: 1;
  height: 500px;
  background: linear-gradient(0deg, rgba(254, 252, 247, 0.5) 0%, #FEFCF7 55.94%);
  padding-top: 40px;
  left: 0;
}
.modal--active p {
  margin-bottom: 32px;
  color: #333D4B;
  text-align: center;
  font-family: "Fraunces";
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 900;
  line-height: 3.2px;
  line-height: 32px; /* 133.333% */
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #2C343E;
}
.footer .footer__logo {
  margin-top: 54px;
  margin-bottom: 49px;
}
.footer .links .footer-link {
  margin-bottom: 0;
}
.footer .links .links__item {
  color: #83888F;
  text-align: center;
  font-family: "Barlow";
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.923px;
  margin-bottom: 24px;
}
.footer .links .links__item:hover {
  color: #FEFCF7;
  cursor: pointer;
}
.footer .links > :nth-child(3) {
  margin-bottom: 48px;
}
.footer .social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 36%;
  margin-bottom: 54px;
}
.footer .social .social__item {
  width: 24px;
}

.navbar-big {
  display: none;
}

.main {
  padding-left: 0;
  padding-right: 0;
}

.navbar, .footer, .process, .types, .quantity, .grind, .deliver, .order-summary {
  margin-left: 6.5%;
  margin-right: 6.5%;
}

.create-plan {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  height: 400px;
  width: auto;
  z-index: 0;
  margin-bottom: 120px;
  margin-left: 6.5%;
  margin-right: 6.5%;
}

.create-plan__image1 {
  border-radius: 10px;
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  z-index: 1;
}

.create-plan__image2 {
  display: none;
}

.create-plan__image3 {
  display: none;
}

.create-plan__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  z-index: 2;
}

.create-plan__title {
  color: #FEFCF7;
  text-align: center;
  font-family: "Fraunces";
  font-size: 4rem;
  font-style: normal;
  font-weight: 900;
  line-height: 40px;
  margin-top: 101px;
  margin-bottom: 22px;
}

.create-plan__description {
  color: #FEFCF7;
  text-align: center;
  font-family: "Barlow";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  width: 85%;
}

.create-plan__steps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #2C343E;
  padding-top: 80px;
  padding-bottom: 70px;
  border-radius: 10px;
  margin-bottom: 120px;
}

.steps__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 56px;
}

.step__number {
  color: #FDD6BA;
  text-align: center;
  font-family: "Fraunces";
  font-size: 7.2rem;
  font-style: normal;
  font-weight: 900;
  line-height: 72px;
  margin-bottom: 24px;
}

.step__title {
  color: #FFF;
  text-align: center;
  font-family: "Fraunces";
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 900;
  line-height: 32px;
  margin-bottom: 24px;
}

.step__description {
  color: #FFF;
  text-align: center;
  font-family: "Barlow";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  width: 85%;
}

.create-plan__steps > :nth-child(3) {
  margin-bottom: 0;
}

.steps-list {
  display: none;
}

.hide-button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.process, .types, .quantity, .grind, .deliver, .order-summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 96px;
}

.process-top, .types-top, .quantity-top, .grind-top, .deliver-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  margin-bottom: 32px;
}

.process__list, .types__list, .quantity__list, .grind__list, .deliver__list {
  width: 100%;
}

.process-header, .types-header, .quantity-header, .grind-header, .deliver-header {
  color: #83888F;
  text-align: left;
  font-family: "Fraunces";
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 900;
  line-height: 28px;
  width: 70%;
}

.process__item, .type__item, .quantity__item, .grind__item, .deliver__item {
  background-color: #F4F1EB;
  padding: 24px 0 24px 24px;
  border-radius: 8px;
  margin-bottom: 16px;
}

.process__title, .type__title, .quantity__title, .grind__title, .deliver__title {
  color: #333D4B;
  text-align: left;
  font-family: "Fraunces";
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 900;
  line-height: 32px;
  margin-bottom: 20px;
}

.process__description, .type__description, .quantity__description, .grind__description, .deliver__description {
  color: #333D4B;
  text-align: left;
  font-family: "Barlow";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  width: 80%;
}

.order-summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  background-color: #2C343E;
  border-radius: 10px;
  padding-left: 24px;
}

.order-summary__title {
  color: #FFF;
  text-align: left;
  font-family: "Barlow";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 12px;
}

.order-summary__info {
  color: #FFF;
  text-align: left;
  font-family: "Fraunces";
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 900;
  line-height: 40px;
  width: 90%;
  margin-bottom: 24px;
}

.process-placeholder, .type-placeholder, .quantity-placeholder, .grind-placeholder, .deliver-placeholder {
  color: #0E8784;
}

.process-placeholder-hidden, .type-placeholder-hidden, .quantity-placeholder-hidden, .grind-placeholder-hidden, .deliver-placeholder-hidden {
  color: rgba(0, 0, 0, 0);
  text-decoration: underline;
  text-decoration-color: #0E8784;
}

.create-plan__button {
  color: #FEFCF7;
  text-align: center;
  font-family: "Fraunces";
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 900;
  line-height: 25px;
  width: 220px;
  height: 56px;
  background-color: #0E8784;
  border: 0;
  border-radius: 6px;
  display: block;
  margin: 0 auto;
  margin-bottom: 120px;
}

.create-plan__button:hover {
  background-color: #66D2CF;
  cursor: pointer;
}/*# sourceMappingURL=subscribe.css.map */