@use "variables";
@use "mixins";

:root {
    font-size: 62.5%;
}

a:visited, a:active, a:link, a:hover {
    color: #83888F; 
    text-decoration: none;
}

.main {
    padding: 32px 6.5% 72px 6.5%;
    margin: 0 auto;
    background-color: variables.$col4;
    display: flex;
    flex-direction: column;
}

.main.blurred > *:not(.subscription-confirmation){
    filter: blur(5px);
    transition: filter 0.15s ease;
}

.navbar {
    @include mixins.flexbox(row, space-between, center);
    margin-bottom: 40px;
    
    .menu-button {
        width: 18px;
        height: auto;
        fill: variables.$col2;
    }

    .menu-button--inactive {
        display: none;
    }

    .close-button--inactive {
        display: none;
    }
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.modal--inactive {
    display: none;
}

.modal--active {
    position: absolute;
    z-index: 1;
    height: 450px;
    background: linear-gradient(0deg, rgba(254, 252, 247, 0.50) 0%, #FEFCF7 55.94%);
    padding-top: 40px;
    left: 0;

    p {
        margin-bottom: 32px;
        @include mixins.text(variables.$col2, center, variables.$font1, 2.4rem, normal, 900, 3.2px);
        line-height: 32px; /* 133.333% */
    }
}

.subscription-modal-active {
    position: absolute;
    z-index: 1;
    top: 90px; 
    align-self: center;
}

.footer {
    @include mixins.flexbox(column, center, center);
    background-color: variables.$col10;

    .footer__logo {
        margin-top: 54px;
        margin-bottom: 49px;
    }

    .links {

        .footer-link {
            margin-bottom: 0;
        }

        .links__item {
            @include mixins.text(variables.$col5, center, variables.$font2, 1.2rem, normal, 700, 15px);
            letter-spacing: 0.923px;
            margin-bottom: 24px;
        }

        .links__item:hover {
            color: variables.$col4;
            cursor: pointer;
        }

        >:nth-child(3) {
            margin-bottom: 48px;
        }
    }

    .social {
        @include mixins.flexbox(row, space-between, center);
        width: 36%;
        margin-bottom: 54px;

        .social__item {
            width: 24px;
        }
    }
}