@use "variables";
@use "mixins";

:root {
    font-size: 62.5%;
}

@media (min-width: 1440px) {

    a:visited, a:active, a:link, a:hover {
        color: #83888F; 
        text-decoration: none;
    }

    .main {
        padding: 50px 5.5% 88px 5.5%;   
    }

    .navbar {
        margin-bottom: 50px;

        .navbar__logo svg {
            width: 236px;
            height: 26px;
        }
        
        .menu-button {
            display: none;
        }

        .navbar-big {
            display: block;
            @include mixins.flexbox(row, space-between, center);
            @include mixins.text(variables.$col5, center, variables.$font2, 1.2rem, normal, 700, 15px);
            width: 260px;

            p:hover {
                color: variables.$col2;
                cursor: pointer;
            }
        }
    }

    .footer {

        @include mixins.flexbox(row, space-between, center);
    
        .footer__logo {
            margin-bottom: 47px;
            margin-left: 85px;
        }
    
        .links {

            .footer-link {
                margin-bottom: 0;
            }
            
            @include mixins.flexbox(row, space-between, center);
            width: 300px;

            .links__item {
                margin-bottom: 0px;
            }
        }
    
        .social {
            width: 20%;
            margin-right: 85px;
            margin-bottom: 0;
        }
    }
  }
