$col1: #0E8784;
$col2: #333D4B;
$col3: #FDD6BA;
$col4: #FEFCF7;
$col5: #83888F;
$col6: #66D2CF;
$col7: #E2DEDB;
$col8: #F4F1EB;
$col9: #FFF;
$col10: #2C343E;

$font1: "Fraunces";
$font2: "Barlow";
$font3: "sans-serif";