@use "resetter";
@use "variables";
@use "mixins";
@use "common";

.aboutus {
    @include mixins.flexbox(column, flex-start, center);
    position: relative;
    height: 400px;
    width: auto;
}

.aboutus__image {
    border-radius: 10px;
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 1;
}

.aboutus__info {
    @include mixins.flexbox(column, center, center);
    z-index: 2;
}

.aboutus__title {
    @include mixins.text(variables.$col4, center, variables.$font1, 2.8rem, normal, 900, 28px);
    margin-top: 111px;
    margin-bottom: 24px;
}

.aboutus__description {
    @include mixins.text(variables.$col4, center, variables.$font2, 1.5rem, normal, 400, 25px);
    width: 85%;
}