@use "resetter";
@use "variables";
@use "mixins";
@use "common";

.navbar-big {
    display: none;
}

.main {
    padding-left: 0;
    padding-right: 0;
}

.navbar, .footer, .process, .types, .quantity, .grind, .deliver, .order-summary {
    margin-left: 6.5%;
    margin-right: 6.5%;
}

.create-plan {
    @include mixins.flexbox(column, flex-start, center);
    position: relative;
    height: 400px;
    width: auto;
    z-index: 0;
    margin-bottom: 120px;
    margin-left: 6.5%;
    margin-right: 6.5%;
}

.create-plan__image1 {
    border-radius: 10px;
    width: 100%;
    height: 400px;
    object-fit: cover;
    position: absolute;
    z-index: 1;
}

.create-plan__image2 {
    display: none;
}

.create-plan__image3 {
    display: none;
}

.create-plan__info {
    @include mixins.flexbox(column, center, center);
    z-index: 2;
}

.create-plan__title {
    @include mixins.text(variables.$col4, center, variables.$font1, 4rem, normal, 900, 40px);
    margin-top: 101px;
    margin-bottom: 22px;
}

.create-plan__description {
    @include mixins.text(variables.$col4, center, variables.$font2, 1.5rem, normal, 400, 25px);
    width: 85%;
}

.create-plan__steps {
    @include mixins.flexbox(column, center, center);
    background-color: variables.$col10;
    padding-top: 80px;
    padding-bottom: 70px;
    border-radius: 10px;
    margin-bottom: 120px;
} 

.steps__item {
    @include mixins.flexbox(column, center, center);
    margin-bottom: 56px;
}

.step__number {
    @include mixins.text(variables.$col3, center, variables.$font1, 7.2rem, normal, 900, 72px);
    margin-bottom: 24px;
}

.step__title {
    @include mixins.text(variables.$col9, center, variables.$font1, 2.8rem, normal, 900, 32px);
    margin-bottom: 24px;
}

.step__description {
    @include mixins.text(variables.$col9, center, variables.$font2, 1.5rem, normal, 400, 25px);
    width: 85%;
}

.create-plan__steps > :nth-child(3) {
    margin-bottom: 0;
}

.steps-list {
    display: none;
}

.hide-button:hover {
    cursor: pointer;
    opacity: 0.7;
}

.process, .types, .quantity, .grind, .deliver, .order-summary {
    @include mixins.flexbox(column, center, center);
    margin-bottom: 96px;
}

.process-top, .types-top, .quantity-top, .grind-top, .deliver-top {
    @include mixins.flexbox(row, space-between, center);
    width: 100%;
    margin-bottom: 32px;
}

.process__list, .types__list, .quantity__list, .grind__list, .deliver__list {
    width: 100%;
}

.process-header, .types-header, .quantity-header, .grind-header, .deliver-header {
    @include mixins.text(variables.$col5, left, variables.$font1, 2.4rem, normal, 900, 28px);
    width: 70%;
}

.process__item, .type__item, .quantity__item, .grind__item, .deliver__item {
    background-color: variables.$col8;
    padding: 24px 0 24px 24px;
    border-radius: 8px;
    margin-bottom: 16px;
}

.process__title, .type__title, .quantity__title, .grind__title, .deliver__title {
    @include mixins.text(variables.$col2, left, variables.$font1, 2.4rem, normal, 900, 32px);
    margin-bottom: 20px;
}

.process__description, .type__description, .quantity__description, .grind__description, .deliver__description {
    @include mixins.text(variables.$col2, left, variables.$font2, 1.6rem, normal, 400, 26px);
    width: 80%;
}

.order-summary {
    @include mixins.flexbox(column, center, flex-start);
    background-color: variables.$col10;
    border-radius: 10px;
    padding-left: 24px;
}

.order-summary__title {
    @include mixins.text(variables.$col9, left, variables.$font2, 1.6rem, normal, 400, 26px);
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 12px;
}

.order-summary__info {
    @include mixins.text(variables.$col9, left, variables.$font1, 2.4rem, normal, 900, 40px);
    width: 90%;
    margin-bottom: 24px;
}

.process-placeholder, .type-placeholder, .quantity-placeholder, .grind-placeholder, .deliver-placeholder {  
    color: variables.$col1;
}

.process-placeholder-hidden, .type-placeholder-hidden, .quantity-placeholder-hidden, .grind-placeholder-hidden, .deliver-placeholder-hidden {  
    color: rgba(0, 0, 0, 0);
    text-decoration: underline;
    text-decoration-color: variables.$col1;
}

.create-plan__button {
    @include mixins.text(variables.$col4, center, variables.$font1, 1.8rem, normal, 900, 25px);
    width: 220px;
    height: 56px;
    background-color: variables.$col1;
    border: 0;
    border-radius: 6px;
    display: block;
    margin: 0 auto;
    margin-bottom: 120px;
}

.create-plan__button:hover {
    background-color: variables.$col6;
    cursor: pointer;
}